<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAccessibilityUsageDescription</key>
	<string></string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string></string>
	<key>UIApplicationSupportsStateRestoration</key>
	<true/>
</dict>
</plist>
